<?xml version='1.0' encoding='utf-8'?>
<widget id="org.mozilla.beaker" version="0.0.1" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>Webmaker</name>
    <description></description>
    <author href="https://www.mozilla.org">Mozilla Foundation</author>

    <content src="index.html" />
    <access origin="*" />
    <icon src="www/res/icon.png" />

    <platform name="firefoxos">
          <icon src="www/res/ff/icon.png" width="128" height="128" />
          <hook type="after_prepare" src="scripts/after-prepare-ffos.js" />
    </platform>

    <platform name="android">
        <preference name="android-minSdkVersion" value="10" />
        <preference name="android-targetSdkVersion" value="17" />

        <icon src="www/res/android/icon_mdpi.png" density="mdpi" />
        <icon src="www/res/android/icon_hdpi.png" density="hdpi" />
        <icon src="www/res/android/icon_xhdpi.png" density="xhdpi" />
        <icon src="www/res/android/icon_xxhdpi.png" density="xxhdpi" />
        <icon src="www/res/android/icon_xxxhdpi.png" density="xxxhdpi" />
    </platform>
</widget>
