<?xml version='1.0' encoding='utf-8'?>
<widget id="org.mozilla.beaker" version="0.0.1" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>Webmaker</name>
    <description></description>
    <author href="https://www.mozilla.org">Mozilla Foundation</author>
    
    <content src="index.html" />
    <access origin="*" />
    <icon src="www/res/icon.png" />
    
    <platform name="firefoxos">
          <icon src="www/res/ff/icon.png" width="128" height="128" />
    </platform>

    <platform name="android">
        <preference name="android-minSdkVersion" value="10" />
        <preference name="android-targetSdkVersion" value="17" />

        <icon src="www/res/android/icon_mdpi.png" density="mdpi" />
        <icon src="www/res/android/icon_hdpi.png" density="hdpi" />
        <icon src="www/res/android/icon_xhdpi.png" density="xhdpi" />
        <icon src="www/res/android/icon_xxhdpi.png" density="xxhdpi" />
        <icon src="www/res/android/icon_xxxhdpi.png" density="xxxhdpi" />
    </platform>

    <platform name="ios">
        <preference name="WebViewBounce" value="false" />
        <preference name="StatusBarOverlaysWebView" value="false"/>

        <icon src="www/res/ios/icon-72.png" width="72" height="72" />
        <icon src="www/res/ios/icon-72@2x.png" width="144" height="144" />
        <icon src="www/res/ios/icon.png" width="57" height="57" />
        <icon src="www/res/ios/icon@2x.png" width="114" height="114" />
    </platform>
</widget>
