* {
  margin: 0;
  padding: 0;
}

html, body {
  height: 100%;
}

body {
  min-width: 250px;
  overflow: hidden;
}

iframe {
  border: 0;
  height: 100%;
  left: 0;
  overflow: auto;
  position: absolute;
  top: 0;
  width: 100%;
}